html{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
   
}

*, ::before, ::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.right {
    float: right;
    margin-right: 4rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 6rem;
}

.square {
    background-color: white;
    border: 1px solid black ;
}
 
button {
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    background-color: #03bb56;
    font-weight: bolder;
    transition: transform .5s;
}
button:hover {
    transform: scale(1.5);
}